* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    background-color: aqua;
    height: 10%;
}

h1 {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 35%;
    height: 100%;
    margin-left: 6.4%;
}

#area-pesq {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    width: 60%;
    height: 40%;
    padding: 3px;
}

#pesquisar {
    height: 40%;
}

main {
    flex-wrap: wrap;
    display: flex;
    margin: 6.4%;
    margin-top: 3%;
    margin-bottom: 0;
    gap: 15px;
}

.Livro {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 15px;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-livro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
    width: 100%;
    height: 85%;
}